@page
@model EnsaPlatform.Pages.Professeurs.ProfSceancesModel
@{
    ViewData["Title"] = "ProfSceance";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Professeur</h4>
    <hr />
    <dl class="row">
        <a asp-page="/Sceances/Create">Create New</a>
        
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sceances)
        </dt>
        <dd class="col-sm-10">
            <table class="table">
                <tr>
                    <th>Matiere</th>
                    <th>Date</th>
                </tr>
                @foreach (var item in Model.Sceances)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Matiere.TITRE)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DATE_HEURE)
                        </td>
                    </tr>
                }
            </table>
        </dd>
    </dl>
</div>
