@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class=" container-fluid">
    <div class="row mb-auto">
        <div class="col">
            <div class="d-flex justify-content-center">
                <div class="row no-gutters">
                    <div class="card align-center bg-grey2 my-5 mx-5">
                        <div class="card-head-row ">
                            <div class="col p-lg-5 mb-4 ">

                                <h1 class="card-text text-black-50">
                                    ENSA platforme is a Mangaging school app using entity framework Asp.net core  and Razor pages.
                                </h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
