@page
@model EnsaPlatform.Pages.Etudiants.EditModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Etudiant</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Etudiant.EtudiantID" />
            <div class="form-group">
                <label asp-for="Etudiant.NiveauID" class="control-label"></label>
                <select asp-for="Etudiant.NiveauID" class="form-control" asp-items="ViewBag.NiveauID"></select>
                <span asp-validation-for="Etudiant.NiveauID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Etudiant.NOM" class="control-label"></label>
                <input asp-for="Etudiant.NOM" class="form-control" />
                <span asp-validation-for="Etudiant.NOM" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Etudiant.PRENOM" class="control-label"></label>
                <input asp-for="Etudiant.PRENOM" class="form-control" />
                <span asp-validation-for="Etudiant.PRENOM" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Etudiant.CIN" class="control-label"></label>
                <input asp-for="Etudiant.CIN" class="form-control" />
                <span asp-validation-for="Etudiant.CIN" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Etudiant.DATE_NAISSANCE" class="control-label"></label>
                <input asp-for="Etudiant.DATE_NAISSANCE" class="form-control" />
                <span asp-validation-for="Etudiant.DATE_NAISSANCE" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Etudiant.LIEU_NAISSANCE" class="control-label"></label>
                <input asp-for="Etudiant.LIEU_NAISSANCE" class="form-control" />
                <span asp-validation-for="Etudiant.LIEU_NAISSANCE" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Etudiant.EMAIL" class="control-label"></label>
                <input asp-for="Etudiant.EMAIL" class="form-control" />
                <span asp-validation-for="Etudiant.EMAIL" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Etudiant.TEL" class="control-label"></label>
                <input asp-for="Etudiant.TEL" class="form-control" />
                <span asp-validation-for="Etudiant.TEL" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Etudiant.ADDRESSE" class="control-label"></label>
                <input asp-for="Etudiant.ADDRESSE" class="form-control" />
                <span asp-validation-for="Etudiant.ADDRESSE" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Etudiant.DELEGUE" class="control-label"></label>
                <input asp-for="Etudiant.DELEGUE" class="form-control" />
                <span asp-validation-for="Etudiant.DELEGUE" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
