@page
@model EnsaPlatform.Pages.Etudiants.StudSceancesModel
@{
    ViewData["Title"] = "les sceances programee";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
<table id="basic-datatables" class="table  table-striped table-hover">
    <thead>
    <th>code matiere</th>
    <th>heure sceance</th>
    </thead>

    <tbody>
        @foreach (var item in Model.Etudiant.Niveau.Sceances)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.MatiereID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DATE_HEURE)
                </td>
            </tr>
        }
    </tbody>
</table>
